.main-container {

}

.prediction-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
  background: linear-gradient(135deg, #acb4cf 0%, #26cfb3 100%);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px;
}
.prediction-container{
    display: flex;
    flex-direction: row;
    /*border: 1px solid black;*/
}
.three-day-forecast-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  min-width: 200px;
}

.triggered {
    color: #28a745;
    font-weight: bold;
}

.notTriggered {
    color: #6c757d;
    font-weight: bold;
}

.date {
    font-size: 1.2rem;
    font-weight: bold;
}

.condition {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 15px;
    margin-top: 1px;
}